/* Import custom font */
@font-face {
  font-family: 'CustomFont';
  src: url('../assets/fonts/NimbusSanExtD-Reg.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply custom font to the whole document */
body {
  font-family: 'CustomFont', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Header */
.mobile-header {
background-color: black;
color: white;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
box-sizing: border-box;
font-family: 'CustomFont', sans-serif;
}

/* Mobile Navbar */
.mobile-nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

/* Hamburger Menu */
.hamburger {
font-size: 30px;
cursor: pointer;
color: white;
font-family: 'CustomFont', sans-serif;
}

/* Logo for Mobile */
.mobile-logo {
height: 40px;
width: auto;
}

/* Mobile Menu */
.mobile-menu {
list-style: none;
padding: 0;
margin: 20px 0;
width: 100%;
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'CustomFont', sans-serif;
}

/* Dropdown for Mobile */
.mobile-dropdown {
list-style: none;
padding: 0;
margin: 10px 0;
}

.mobile-dropdown li {
margin: 5px 0;
}

.li-items {
color: white;
text-decoration: none;
padding: 10px 20px;
display: block;
font-family: 'CustomFont', sans-serif;
}

.li-items:hover {
background-color: #333;
}

/* Adjust spacing for menu items */
.nav-item {
color: white;
cursor: pointer;
padding: 10 20px;
font-family: 'CustomFont', sans-serif;
}
